force-app/main/default/flows/Account_Number_Phone_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Phone_Verification_API</name>
        <label>Invoke Phone Verification API</label>
        <locationX>785</locationX>
        <locationY>71</locationY>
        <actionName>PhoneVerificationAPIController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validated_Phone_Number</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mobileNumbers</name>
            <value>
                <elementReference>Get_Current_Account_Record.Phone</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PhoneVerificationResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Invalid_Mobile_Number</name>
        <label>Invalid Mobile Number</label>
        <locationX>1002</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Account_Record.Phone_Valid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Invalid_Phone_Numer_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Phone_Valid</name>
        <label>Update Phone Valid</label>
        <locationX>609</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Account_Record.Phone_Valid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Record_With_Phone_Valid_Filed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validated_Phone_Number</name>
        <label>Validated Phone Number</label>
        <locationX>778</locationX>
        <locationY>248</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Phone_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneVerificationResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_Valid</targetReference>
            </connector>
            <label>Valid Phone Number</label>
        </rules>
        <rules>
            <name>Invalid_Phone_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneVerificationResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Mobile_Number</targetReference>
            </connector>
            <label>Invalid Phone Number</label>
        </rules>
    </decisions>
    <interviewLabel>Account Number Phone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Number Phone Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Account_Record</name>
        <label>Get Current Account Record</label>
        <locationX>596</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoke_Phone_Verification_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record_With_Phone_Valid_Filed</name>
        <label>Update Account Record With Phone Valid Filed</label>
        <locationX>331</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Valid_Number_Screen</targetReference>
        </connector>
        <inputReference>Get_Current_Account_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Invalid_Phone_Numer_Account</name>
        <label>Updated Invalid Phone Numer Account</label>
        <locationX>792</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>InvalidMessageScreen</targetReference>
        </connector>
        <inputReference>Get_Current_Account_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>InvalidMessageScreen</name>
        <label>Invalid Message Screen</label>
        <locationX>567</locationX>
        <locationY>474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidPhoneNumberDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(224, 14, 14);&quot;&gt;Phone Number {!Get_Current_Account_Record.Phone} is Not Valid&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Valid_Number_Screen</name>
        <label>Valid Number Screen</label>
        <locationX>159</locationX>
        <locationY>253</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidNumberMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 215, 154);&quot;&gt;Phone Number {!Get_Current_Account_Record.Phone} &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 215, 154); background-color: rgb(255, 255, 255);&quot;&gt;Is Valid Number&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>72</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_Current_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PhoneVerificationResponse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
